<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería | FriKon</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <header>
        <div class="logo">
            <h1>Fri<span>Kon</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html" class="activo">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="novedades-carrusel">
            <h2 class="titulo-seleccion">Novedades Destacadas</h2>
            <div class="carrusel-contenedor">


                <div class="carrusel-slides">
                    <div class="slide activa">
                        <img src="../images/productos-carrusel/fabula-sombria-portada-noticia.jpg"
                            alt="Nueva expansión TCG Pokémon" width="1048" height="590">
                        <div class="carrusel-texto">
                            <h3>Nueva Expansión Pokémon TGC</h3>
                            <p>¡Ya disponibles las nuevas cajas de sobres premium en FriKon!</p>
                        </div>
                    </div>

                    <div class="slide">
                        <img src="../images/productos-carrusel/figura_one_piece.webp" alt="Figuras Exclusivas Anime"
                            width="1200" height="675">
                        <div class="carrusel-texto">
                            <h3>Figuras de Colección</h3>
                            <p>Reserva las nuevas estatuas a escala de tus personajes favoritos.</p>
                        </div>
                    </div>

                    <div class="slide">
                        <img src="../images/productos-carrusel/nuevos_albumes.png" alt="Accesorios para cartas"
                            width="1376" height="768">
                        <div class="carrusel-texto">
                            <h3>Protección Premium</h3>
                            <p>Disponibles los nuevos Albumes de NEXUS </p>
                        </div>
                    </div>
                </div>

                <div class="carrusel-dots">
                    <div class="dot-wrapper activo" data-slide="0">
                        <svg class="progreso-circular" viewBox="0 0 36 36">
                            <path class="circulo-fondo"
                                d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path class="circulo-barra"
                                d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                        <span class="dot-numero">1</span>
                    </div>

                    <div class="dot-wrapper" data-slide="1">
                        <svg class="progreso-circular" viewBox="0 0 36 36">
                            <path class="circulo-fondo"
                                d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path class="circulo-barra"
                                d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                        <span class="dot-numero">2</span>
                    </div>

                    <div class="dot-wrapper" data-slide="2">
                        <svg class="progreso-circular" viewBox="0 0 36 36">
                            <path class="circulo-fondo"
                                d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path class="circulo-barra"
                                d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        </svg>
                        <span class="dot-numero">3</span>
                    </div>
                </div>
            </div>

        </section>

    </main>

    <footer>
        <div class="footer-info">
            <p>© 2026 FriKon S.L.</p>
            <p>Av. del Entretenimiento, Local 42 - Málaga</p>
        </div>
        <div class="footer-redes">
            <a href="#" target="_blank">Instagram</a>
            <a href="#" target="_blank">Twitter/X</a>
            <a href="#" target="_blank">Discord</a>
        </div>
        <div class="footer-legal">
            <a href="#">Aviso Legal y Política de Privacidad</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>